// accents, decorations, trimmings, etc

// used in navigation to create virtual block element, like an <hr>
.border_btm:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: $gallery;
}

nav .border_btm:after {
  width: 90%;
  margin-left: 5%;
}

// ul disc style
.disc {
  list-style: disc;
  padding: 1rem 1.5rem;
}
