// accents, decorations, trimmings, etc

// hr style <hr class="btm_border">
.btm_border, .btm_border_mobile {
  border: 0;
  border-top: 1px solid $gallery;
  display: none;
  margin-bottom: 0;
  padding-bottom: .5em;
  @include media($tablet) {
    display: block;
  }
}

// mobile menus use a gray bg color, make darker for mobile only
.menu-visible .btm_border,
.menu-visible .btm_border_mobile {
  border-top: 1px solid $dusty_gray;
  @include media($tablet) {
    border-top: 1px solid $gallery;
  };
}

.btm_border_mobile {
  @include media(min-width 767px) {
    display: none;
  }
}

// ul disc style
.disc {
  padding: 1rem 0 1rem .6rem;
  li::before {
    content: "\2022";
    font-size: .5rem;
    margin-right: .6rem;
    position: relative;
    top: -.25rem;
  }
}
