// base rules

body {
  font-family: $font-stack;
  font-size: 16px;
  @include media($tablet, $desktop) {
    padding-top: $u_bar-height;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}

p, li {
  color: $dove_gray;
  line-height: 1.2rem;
  font-size: rem(15);
}

em {
  font-style: italic;
}

img,
embed,
iframe {
  max-width: 100%;
}

:focus,
:active,
a:focus, 
a:active {
  outline-style: solid;
  outline-width: 1px;
}
