// base rules

body {
  font-family: $font-stack;
  font-size: 16px;
  @include media($tablet, $desktop) {
    padding-top: $u_bar-height;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}

p, li {
  color: $dove_gray;
  line-height: 1.2rem;
  font-size: rem(15);
}

em {
  font-style: italic;
}

img,
embed,
iframe {
  max-width: 100%;
}

body > header {
  @include media($desktop) {
    height: 77px;
  };
}
body > section,
body > footer {
  @include outer-container(1000px);
}

section,
footer {
  > div {
    padding: 1rem;
  }
}
