// buttons

.btn {
  font-family: inherit;
  font-size: .875rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  color: inherit;
  background-color: transparent;
}

.btn-sm {
  font-size: rem(12);
  padding: .3rem 1rem;
  line-height: 1;
}

.btn-xs {
  font-size: rem(10);
  padding: .2rem .3rem;
  line-height: 1;
}

// added to <a> for social outbound links in navigation and footer
.btn-round {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  position: relative;
  width: 30px;
  @include media($tablet) {
    height: 25px;
    width: 25px;
  }
  .icon {
    margin: 0;
    position: absolute;
    right: .65rem;
    top: .45rem;
  }
}

.btn-login {
  border: 1px solid $smalt_blue;
  color: $smalt_blue;
}

.btn-primary {
  background-color: $polar;
  color: $smalt_blue;
}

.btn-select, .btn-search {
  background-color: $gallery;
  color: $punga;
  padding: .45rem .7rem .3rem .2rem;
}

.btn-search {
  float: right;
}

.btn-shop {
  background-color: $mine_shaft;
  color: #ffffff;
  opacity: 0.9;
  &:hover {
    color: #ffffff;
    opacity: 1;
  }
}

.font_icon_btn {
  cursor: pointer;
}

.btn-back_to_top {
  color: $smalt_blue;
}

// navigation element add via jQuery to touch devices
.btn-touch_close {
  left: 172px;
  padding: .75rem;
  position: absolute;
  top: 0;
  .icon_close {
    position: absolute;
    right: .25rem;
    top: .3rem;
  }
}
