// global

.content_wrap {
  @include outer-container(1000px);
  box-sizing: border-box;
  width: 100%;
  @include media($tablet) {
    margin-top: 2rem;
  }
  @include media($desktop) {
    margin-top: 1.5rem;
    padding: 0;
  }
}

.site_header {
  @include media($desktop) {
    height: 77px;
  };
}
.spoonflower_logo {
  background: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-size: 153px 38px;
  display: block;
  height: 38px;
  margin: .4rem 0 .375rem .4rem;
  width: 153px;
  @include media($tablet) {
    background-size: 173px 43px;
    height: 43px;
    margin: .8rem 0 .375rem .7rem;
    width: 173px;
  }
  @include media($desktop) {
    background-size: 193px 48px;
    height: 48px;
    margin: .8rem 0 .375rem .7rem;
    width: 193px;
  }
}

// This is the "Custom printed fabric and more..." what-we-do statement
.spoonflower_definition {
  max-width: 270px;
  margin: 1rem;
  @include media($tablet) {
    left: 23%;
    position: relative;
    top: -62px;
  }
  @include media($desktop) {
    // position: relative;
    left: 21%;
    top: -65px;
  }
  dt {
    color: $smalt_blue;
    font-size: rem(13);
    span {
      border-bottom: 2px solid $polar;
      display: inline-block;
      position: relative;
    }
  }
  dd {
    background-color: #ffffff;
    border: 1px solid $gallery;
    margin-top: 1rem;
    max-width: 248px;
    padding: 1rem;
    position: absolute;
    text-align: center;
    z-index: 1;
  }
  ul {
    color: $smalt_blue;
    text-align: left;
  }
  p {
    text-align: left;
  }
  .btn-primary {
    margin-right: rem(5);
  }
}


// search
.search_module {
  border: 1px solid $gallery;
  box-sizing: border-box;
  height: 34px;
  // position: absolute;
  width: 297px;
  overflow: hidden;
  @include media($desktop) {
    width: 344px;
  }
}
// position in mobile
.desktop_hide .search_module {
  margin: 1rem auto .5rem;
  position: relative;
}

// position for desktop
.search_desktop {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  @include media($desktop) {
    top: 1.5rem;
  };
}

.search_select-wrapper {
  background: $gallery;
  box-sizing: inherit;
  float: left;
  height: 20px;
  // padding: .475rem 0 .275rem .5rem;
  padding: .4rem .5rem;
  position: relative;
  overflow: hidden;
  width: 69px;
}
.search_select {
  @include appearance(none);
  background: $gallery;
  border: 0;
  box-sizing: inherit;
  color: $punga;
  cursor: pointer;
  font-family: inherit;
  font-size: rem(13);
  font-style: italic;
  // position: relative;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  // &:focus {
  //   outline: unset;
  // }
  option {
    height: 26px;
    width: 100px;
  }
}
.btn-select {
  position: absolute;
  top: 0px;
}
.search_input {
  border: 0;
  box-sizing: inherit;
  font-size: .8rem;
  height: 1.6rem;
  left: 7.2rem;
  padding: 0 0 0 0.3rem;
  position: absolute;
  top: .2rem;
  width: 134px;
  &:focus {
    outline: unset;
  }
}

// layout

// experimental, need to add width and height to div where this class is used.
.l-box {
  box-sizing: border-box;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
}

// footer layout

.site_footer {
  text-align: center;
  margin: auto;
  width: 100%;
  @include media($tablet) {
    background-color: $gallery;
  }
  .outer-container {
    box-sizing: border-box;
    @include outer-container(1000px);
  }
  .copyright {
    box-sizing: border-box;
    @include span-columns(12);
    color: $nav-color;
    font-size: rem(12);
    @include media($tablet) {
      @include span-columns(3);
      padding: 1.2rem 0 0 1rem;
      text-align: left;
    };
  }
  // footer nav is hidden from mobile view
  .footer_nav {
    box-sizing: border-box;
    @include span-columns(6);
  }
  .social_links {
    box-sizing: border-box;
    @include span-columns(3);
  }
}

.social_links .nav-social {
  float: right;
  padding: 0.9rem 0 0 0;
  @include media($tablet) {
    .btn-round {
      margin-right: 2px;
    }
  }
  @include media($desktop) {
    .btn-round {
      margin-right: 5px;
    }
  }
}

/**
 * Accessibility
 * https://gomakethings.com/hidden-content-for-better-a11y/
 */

 /**
  * Visually hide an element, but leave it available for screen readers
  * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
  * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  */
.screen-reader {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

 /**
  * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
  * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
  * @link https://www.drupal.org/node/897638
  */
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
 background-color: #ffffff;
 box-sizing: border-box;
 clip: auto;
 height: auto;
 overflow: visible;
 position: static;
}

/**
 * .screen-reader-top added to center this element at top of page
 */
.screen-reader-focusable.screen-reader-top:active,
.screen-reader-focusable.screen-reader-top:focus {
  display: block; // added to center this link
  left: 50%;
  margin: -30px 0 0 -100px; //
  padding: .8rem;
  position: absolute;
  width: 200px; // added to center this link
  z-index: 1;
}
