// global

// Styles from legacy site
.outer_container {
  @include outer-container(1000px);
}
.page_header {
  background: url('/images/back_topMOBILE_desat.png');
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  @include media($tablet) {
    padding: 1rem 0 0;
  }
}

.main {
  @include media($tablet) {
    margin-top: 1.7rem;
  }
  @include media($desktop) {
    // margin-top: 1.45rem;
    margin-top: 3.15rem;
    padding: 0;
  }
}

.site_header {
  @include media($desktop) {
    height: 77px;
  };
}
.spoonflower_logo {
  background: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-size: 139px 40px;
  display: block;
  height: 40px;
  margin: .4rem 0 .2rem 3.6rem;
  width: 139px;
  @include media($tablet) {
    background-size: 173px 50px;
    height: 50px;
    margin: .8rem 0 .375rem .7rem;
    width: 173px;
  }
  @include media($desktop) {
    background-size: 193px 55px;
    height: 55px;
    margin: .8rem 0 .375rem .7rem;
    width: 193px;
  }
}

// This is the "Custom printed fabric and more..." what-we-do statement
.spoonflower_definition {
  margin: .5rem;
  max-width: 270px;
  @include media($tablet) {
    left: rem(185);
    margin-bottom: -8px;
    position: relative;
    top: -68px;
  }
  @include media($desktop) {
    // position: relative;
    left: rem(217);
    margin-bottom: -32px;
    top: -96px;
  }
  dt {
    color: $smalt_blue;
    @include font-size(13);
    padding: .5rem;
    width: rem(203);
    &:hover {
      color: $elephant;
    }
    &:focus,
    &:active {
      color: $elephant;
      outline-color: $link-color;
      outline-style: solid;
      outline-width: 1px;
    }
    span {
      border-bottom: 1px solid $link-color;
      cursor: pointer;
      display: inline-block;
      padding: .3rem .3rem .1rem 0;
      position: relative;
      width: rem(89);
    }
  }
  dd {
    background-color: $white;
    border: 1px solid $gallery;
    box-shadow: 0 8px 8px -8px $shadow, 0 4px 4px 0 $shadow, 0 4px 4px 0 $shadow;
    margin-top: .5rem;
    max-width: 248px;
    padding: 1rem;
    position: absolute;
    text-align: center;
    z-index: 1;
  }
  ul {
    color: $smalt_blue;
    text-align: left;
  }
  p {
    text-align: left;
  }
  .btn-primary {
    margin-right: rem(5);
  }
  .icon_chevron_down {
    &::before {
      @include font-size(5);
    }
  }
  .icon_close {
    position: absolute;
    right: 0;
    top: .25rem;
    &::before {
      color: inherit;
      font-size: .5rem;
    }
  }
}


// search
.search_module {
  border: 1px solid $gallery;
  box-sizing: border-box;
  height: 34px;
  // position: absolute;
  // overflow: hidden;
  width: 297px;
  @include media($desktop) {
    width: 344px;
  }
}
// position in mobile
.desktop_hide {
  .search_module {
    margin: 1rem auto .5rem;
    position: relative;
  }
}

// position for desktop
.search_desktop {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  @include media($desktop) {
    top: 1.5rem;
  };
}

.search_select-wrapper {
  background: $gallery;
  box-sizing: inherit;
  float: left;
  height: 20px;
  // padding: .475rem 0 .275rem .5rem;
  // overflow: hidden;
  padding: .4rem .5rem;
  position: relative;
  width: 69px;
}
.search_select-dropdown {
  background: $white;
  border-bottom: 1px solid $gallery;
  border-left: 1px solid $gallery;
  border-right: 1px solid $gallery;
  box-shadow: 0 8px 8px -8px $shadow, 0 4px 4px 0 $shadow, 0 4px 4px 0 $shadow;
  display: none;
  left: 0;
  width: 110px;
  position: absolute;
  top: 35px;
  z-index: 2;
  li {
    box-sizing: border-box;
    font-size: rem(13);
    padding: .25rem .5rem;
  }
}
.search_selected {
  @include appearance(none);
  background: $gallery;
  border: 0;
  box-sizing: inherit;
  color: $punga;
  cursor: pointer;
  font-family: inherit;
  @include font-size(13);
  font-style: italic;
  // position: relative;
  left: 1rem;
  line-height: 1.3rem;
  position: absolute;
  text-transform: capitalize;
  top: .4rem;
  // &:focus {
  //   outline: unset;
  // }
  // option {
  //   height: 26px;
  //   width: 100px;
  // }
}
.btn-select {
  position: absolute;
  top: 0;
}
.search_input {
  border: 0;
  box-sizing: inherit;
  @include font-size(13);
  height: 1.6rem;
  left: 7.2rem;
  padding: 0 0 0 .3rem;
  position: absolute;
  top: .2rem;
  width: 134px;
  &:focus {
    outline: unset;
  }
}

// layout

// experimental, need to add width and height to div where this class is used.
.l-box {
  box-sizing: border-box;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
}

// footer layout

.site_footer {
  background-color: $gallery;
  border-top: 1px solid $alto;
  margin: auto;
  text-align: center;
  width: 100%;
  .outer-container {
    box-sizing: border-box;
    @include outer-container(1000px);
  }
  .copyright {
    box-sizing: border-box;
    @include span-columns(12);
    color: $nav-color;
    @include font-size(12);
    padding: 1rem;
    @include media($tablet) {
      // @include span-columns(2);
      padding: .25rem 0 1rem;
      // text-align: left;
    };
    @include media($desktop) {
      @include span-columns(2);
      // @include shift(0);
      float: right;
      margin-left: 0;
      margin-top: -57px;
      padding: 1.2rem 0 0 1rem;
      text-align: left;
    };
  }
  .footer_main {
    box-sizing: border-box;
    @include media($tablet) {
      @include span-columns(8);
    }
    @include media($desktop) {
      // @include shift(2.2);
      @include span-columns(7.2);
    }
    .nav {
      // @include span-columns(12);
      @include media($tablet) {
        float: left;
        margin: 0;
        padding-left: 1rem;
        // @include span-columns(5);
        @include shift(0);
      }
      @include media($desktop) {
        // float: left;
        padding-left: 0;
        padding-top: .4rem;
      }
    }
  }
  .email_sign_up {
    margin: 1rem auto;
    @include media($tablet) {
      float: right;
      margin: 0;
      padding: .75rem 0;
      // @include span-columns(5);
      // @include shift(6.2);
    }
    @include media($desktop) {
      float: right;
      padding: 1.1rem 1rem;
    }
  }
  .email_sign_up-input {
    // box-sizing: border-box;
    @include font-size(12);
    height: 22px;
    width: 179px;
    @include media($tablet) {
      @include font-size(11);
      height: 22px;
      width: 159px;
    }
    @include media($desktop) {
      @include font-size(12);
      height: 22px;
      width: 184px;
    }
  }
  .social_links {
    box-sizing: border-box;
    @include span-columns(12);
    @include media($tablet) {
      margin-top: -50px;
      @include shift(8.75);
      @include span-columns(3);
      // width: 167px;
    }
    @include media($desktop) {
      margin-top: -57px;
      @include shift(6.75);
      @include span-columns(3);
    }
  }
}

.social_links {
  .nav-social {
    padding: .9rem 0 0;
    @include media($tablet) {
      float: right;
      .btn-round {
        margin-right: 2px;
      }
    }
    @include media($desktop) {
      .btn-round {
        margin-right: 5px;
      }
    }
  }
}

// Accessibility
// https://gomakethings.com/hidden-content-for-better-a11y/


// Visually hide an element, but leave it available for screen readers
// @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
// @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
// @link https://www.drupal.org/node/897638

.screen-reader-focusable {
  &:active,
  &:focus {
    background-color: $white;
    box-sizing: border-box;
    clip: auto;
    height: auto;
    overflow: visible;
    position: static;
  }
  // .screen-reader-top added to center this element at top of page
  &.screen-reader-top {
    &:active,
    &:focus {
      display: block; // added to center this link
      left: 50%;
      margin: -30px 0 0 -100px; //
      padding: .8rem;
      position: absolute;
      width: 200px; // added to center this link
      z-index: 1;
    }
  }
  &.screen-reader-bottom {
    &:active,
    &:focus {
      display: block; // added to center this link
      left: 50%;
      margin: -60px 0 0 -100px; //
      padding: .8rem;
      position: absolute;
      width: 200px; // added to center this link
      z-index: 1;
    }
  }
}
