@import 'libraries/neat/neat-helpers';

//Grid settings
$column: 74px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 1000px;
$default-feature: max-width;
$golden: 1.618%;

//Breakpoints
$XS:em(320);
$S:em(768);
$M:em(960);
$L:em(1050);
// $XL:em(1200);
// $XXL:em(1440);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $XS);
$tablet: new-breakpoint(min-width $S);
$desktop: new-breakpoint(min-width $M);
$largedesktop: new-breakpoint(min-width $L);

//Temp: override some bourbon defaults
$border-box-sizing: false;

// font-size mixin to provide px fallback for IE9 1E10

@mixin font-size($size) {
  font-size: $size * 1px;
  font-size: ($size / 16) * 1rem;
}
