// navigation, including some global header and footer elements that aren't strictly navigation

// Because the styles for navigation are so different from one another this file doesn't include inline media queries but is divided into sections: mobile , tablet , desktop


// mobile
.nav {
  li {
    list-style-type: none;
    display: inline-block;
  }
}
.nav-link {
  color: $nav-color;
  display: inline-block;
  padding: .8rem 1rem;
  text-decoration: none;
  transition: 250ms all ease;
  &:hover {
    color: $nav-hover;
  }
}
// handles indentation of subnav items
.nav-link.nl-lvl2 {
  padding: .8rem 2rem;
}
.nav-link.nl-lvl3 {
  padding: .8rem 3rem;
}
.nav-link.nl-lvl4 {
  padding: .8rem 4rem;
}
.nav-link.nl-lvl5 {
  padding: .8rem 5rem;
}

// navigation layout
.h_bar {
  border-bottom: 1px solid $gallery;
  display: flex;
  flex-direction: column;
  text-align: left;
  // > .is-expanded {
  //   border-bottom: 1px solid $gallery;
  // }
  // > .is-collapsed {
  //   border-bottom: none;
  // }
}

.h_bar-container {
  position: relative;
  .font_icon_btn {
    color: $smalt_blue;
    line-height: 1rem;
  }
  .user_btn {
    position: absolute;
    right: 11.8rem;
    top: 1rem ;
  }
  .studio_btn {
    position: absolute;
    right: 8rem;
    top: 1rem ;
    width: 2.75rem;
  }
  .promos_btn {
    position: absolute;
    right: 5.3rem;
    top: 1rem ;
    width: 2.65rem;
  }
  .cart_btn {
    font-size: rem(12);
    position: absolute;
    right: 3.05rem;
    top: 1rem;
    width: 2.65rem;
  }
  .btn-login {
    position: absolute;
    right: 6.6rem;
    top: 1rem ;
  }
}

.item_count {
  display: inline-block;
  font-size: rem(10);
  position: absolute;
  right: .5rem;
  // text-align: center;
  top: .1rem;
  width: 1rem;
}

.menu_toggle {
  position: absolute;
  right: 0;
  top: 0;
  transition: 300ms all ease;
  button {
    background-color: $polar;
    border: 0;
    display: block;
    height: 50px;
    transition: 300ms all ease;
    width: 50px;
  }
}

.h_bar > nav {
  background-color: white;
  // border-bottom: 1px solid $gallery;
  border-top: 1px solid $gallery;
  box-shadow: 0px 8px 8px -8px #B8B8B8;
  display: none;
  flex: 1;
  // height: 100vh;
  overflow: scroll;
  position: absolute;
  transform: 300ms all ease;
  width: 100vw;
  z-index: 1;
}

.h_bar nav > ul {
  list-style-type: none;
}

// .h_bar nav > ul > li:last-of-type {
//   border-bottom: none;
// }

// button controls hiding showing of subnav items
.btn-mobile_nav {
  box-sizing: border-box;
  float: right;
  height: 43px;
  margin: 1px;
  &:focus {
    // background: rgba(0,0,0,0.05);
    // background-color: rgba(231,246,249,0.1);
    outline-style: inset;
    outline-width: 1px;
  }
  @include media($tablet, $desktop) {
    display: none;
  }
}

// social subnav
.nav-social {
  // height: rem(48);
  // max-height: rem(48);
  padding: .6rem 1rem .5rem 2rem;
  .btn-round {
    background-color: $dusty_gray;
    color: white;
    margin-right: 5px;
  }
}


/* Only Mobile */
@media all and (max-width: 767px) {
  .subnav {
    // display: none;
    height: 0;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    // http://easings.net/#easeInOutCubic
    @include transition(all 600ms cubic-bezier(0.645, 0.045, 0.355, 1));
  }
  .menu-visible {
    // background: rgba(0,0,0,0.05);
    background-color: rgba(231,246,249,0.5); // using $polar green for bg color -- probably too subtle
    height: auto !important;
    max-height: 9999px !important; // hack to simulate js-based dropdown animation with only css
    opacity: 1 !important;
    overflow-y: visible !important;
    width: inherit;
  }
  // need to set height for the Sprout and Roostery subnav panels
  .desktop_hide {
    .sn-panel .l-box {
      height: 217px;
      .product_image {
        max-width: 143px;
      }
    }
  }
}

.sn-panel {
  &.menu-visible li div {
    background-color: #ffffff;
  }
  .l-box {
    max-height: 260px;
    position: relative;
    width: 100%;
    div {
      box-sizing: border-box;
      padding: 0 1rem;
      text-align: center;
      width: 100%;
    }
    p {
      margin-top: 1rem;
    }
    .roostery_logo {
      display: block;
      margin: 1rem auto;
      max-width: 180px;
    }
    .sprout_patterns_logo {
      display: block;
      margin: 1rem auto 1.3rem;
      max-width: 100px;
    }
    .product_image {
      max-width: 220px;
    }
  }
}

// end mobile

// begin tablet

// Utility Bar
// is hidden from mobile devices (< 767px using .mobile_hide). Perhaps just put in the wrapping media query below?
.u_bar {
  background-color: $polar;
  left: 0;
  height: $u_bar-height;
  position: absolute;
  top: 0;
  width: 100%;
}
.u_bar-container {
  @include outer-container(1000px);
}
.u_sites {
  float: left;
  width: 300px;
  li {
    padding: 0;
    a {
      box-sizing: border-box;
      display: inline-block;
      height: $u_bar-height;
      padding: .55rem .8rem 0 .8rem;
    }
  }
  .sprout_patterns_logo {
    // margin: .25rem 0 0 0;
    width: 50px;
  }
  .roostery_logo {
    // margin: .4rem 0 0 .8rem;
    width: 74px;
  }
  li:first-child a {
    border-right: 1px solid $botticelli;
    // display: block;
    // float: left;
    // padding: .3rem 1.1rem 0 .8rem;
  }
}
.u_nav {
  float: right;
  li a {
      border-right: 1px solid $botticelli;
      box-sizing: border-box;
      display: inline-block;
      font-size: rem(13);
      height: $u_bar-height;
      padding: .65rem .8rem 0 .8rem;
  }
  li:last-child a {
    border-right: 0;
  }
}
// .u_nav-user_subnav,
// .u_nav-studio_subnav,
// .u_nav-cart_subnav {
//   display: none;
// }

// @include media($tablet, $desktop) {
//   padding-top: $u_bar-height;
// }

/* Medium screens */
@include media($tablet) {

  #navToggle {
    display: none;
  }
  // Header Bar

  .h_bar {
    @include outer-container(1000px);
    background-color: white;
    border-bottom: 0;
    line-height: 90px;
    text-align: left;
    width: 100%;
  }

  .h_bar-container {
    .btn-login,
    .cart_btn {
      display: none;
    }
  }

  .h_bar > nav {
    background-color: transparent;
    border-bottom: 1px solid $gallery;
    border-top: 1px solid $gallery;
    box-shadow: none;
    display: block;
    left: 0;
    position: absolute;
    overflow: initial;
    top: 111px;
  }

  .h_bar > nav > ul {
    position: relative;
    @include outer-container(1000px);
  }

  .h_bar nav > ul > li {
    border-bottom: none;
    float: left;
    // width: 70px;
  }

  .nav-link {
    box-sizing: border-box;
    font-size: rem(13);
    padding: 1rem;
  }

  .nav-link.nav-link-primary {
    font-size: rem(15);
  }

  .subnav {
    > li:first-child {
      padding-top: .6rem;
    }
    > li:last-child {
      padding-bottom: .6rem;
    }
  }

  // begin megamenu

  .subnav.subnav-primary {
    @include outer-container(1200px);
    background: #ffffff;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    box-shadow: 0px 8px 8px -8px #B8B8B8;
    display:none;
    left: 0;
    height: $subnav-height;
    // max-height: none;
    position: absolute;
    width: 100%;
    top: 52px;
    z-index: 1;
    > li {
      border-right: 1px solid $gallery;
      position: relative;
      width: 20%;
    }
  }
  .subnav.current {
    display: block;
  }
  .nav-link.nl-lvl2 {
    padding: .333rem 0 .5rem 1rem;
    width: 100%;
  }
  .nav-link.nl-lvl3,
  .nav-link.nl-lvl4,
  .nav-link.nl-lvl5 {
    padding: .333rem 0 .3rem .5rem;
    width: 100%;
  }
  // controls right arrow, usage: li.has_subnav
  .has_subnav > a {
    position: relative;
    &:hover {
      &:after {
        font-family: 'spoonflower_icons';
        content: '\e80e';
        font-size: .6rem;
        position: absolute;
        right: .5rem;
        top: .3rem;
      }
    }
  }
  .has_subnav > .active {
    position: relative;
    &:after {
      font-family: 'spoonflower_icons';
      content: '\e80e';
      font-size: .6rem;
      position: absolute;
      right: .5rem;
      top: .3rem;
    }
  }
  // subnav level 2 and 3
  .subnav.sn-lvl2,
  .subnav.sn-lvl3 {
    @include outer-container(100%);
    background: transparent;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    display:none;
    left: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    li {
      border-right: 0;
      position: relative;
    }
  }
  .subnav.sn-panel {
    @include outer-container(400%);
    background: #ffffff;
    border-left: 1px solid $gallery;
    box-sizing: border-box;
    display:none;
    height: $subnav-height;
    left: 100%;
    overflow: hidden;
    position: absolute;
    width: 400%;
    top: 0;
    z-index: 1;
    li {
      border-right: 0;
      padding: 0;
      position: relative;
    }
  }
  .subnav.sn-last {
    @include outer-container(200%);
    @include column-count(3);
    background: transparent;
    border-left: 1px solid $gallery;
    box-sizing: border-box;
    display:none;
    height: $subnav-height;
    left: 100%;
    overflow: hidden;
    padding-top: .6rem;
    position: absolute;
    width: 300%;
    top: 0;
    z-index: 1;
    left: 100%;
    li {
      display: inline-block;
      width: 100%;
    }
    > li:first-child {
      padding-top: 0;
    }
  }
  .subnav.sn-lvl2-last {
    @include outer-container(300%);
    @include column-count(3);
    background: transparent;
    border-left: 1px solid $gallery;
    box-sizing: border-box;
    display:none;
    height: $subnav-height;
    left: 100%;
    overflow: hidden;
    padding-top: .6rem;
    position: absolute;
    width: 300%;
    top: 0;
    z-index: 1;
    left: 100%;
    li {
      display: inline-block;
      width: 100%;
    }
    > li:first-child {
      padding-top: 0;
    }
  }
  .subnav.sn-lvl2.current,
  .subnav.sn-lvl3.current,
  .subnav.sn-last.current,
  .subnav.sn-lvl2-last.current,
  .subnav.sn-panel.current {
    display: block;
    height: $subnav-height;
  }

  // end megamenu
  // begin dropdown menu
  .subnav.subnav-dropdown {
    background: #ffffff;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    box-shadow: 0px 8px 8px -8px #B8B8B8;
    display: none;
    position: absolute;
    min-width: 280px;
    top: 52px;
    z-index: 1;
  }
  .subnav.subnav-dropdown.current, {
    display: block;
  }
  // layout out of 'panel' display items for roostery and sprout patterns
  .sn-panel {
    padding-left: 1rem;
    padding-top: 3rem;
    .l-box {
      float: left;
      height: 238px;
      position: relative;
      width: 244px;
      p {
        margin: 0 auto;
        max-width: 100%;
      }
      .roostery_logo {
        max-width: 180px;
      }
      .product_image {
        max-width: 200px;
      }
    }
  }
  .nav-social {
    padding: .6rem 1rem .5rem 1rem;
  }

  // footer_nav
  .footer_nav {
    position: relative;
    .nav-link-primary {
      padding: 1rem .3em;
      font-size: rem(13);
    }
  }
  .subnav-flyup {
    background: #ffffff;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    // box-shadow: 0px 8px 8px -8px #B8B8B8;
    display: none;
    position: absolute;
    min-width: 280px;
    top: -106px;
    z-index: 2;
    li {
      text-align: left;
      width: 100%;
    }
    .nav-link {
      padding: .333rem 1rem;
      text-align: left;
      width: 100%;
    }
  }
  .subnav.subnav-flyup.current {
    display: block;
  }
}

/* Desktop styles */

@include media($desktop) {

  .h_bar > nav {
    top: 118px;
  }

  .nav-link {
    font-size: rem(15);
  }

  .nav-link.nl-lvl2,
  .nav-link.nl-lvl3,
  .nav-link.nl-lvl4 {
    padding: .333rem 1rem;
    width: 100%;
  }
  .nav-link.nl-lvl5 {
    padding: .333rem 0 .333rem 0.8rem;
  }

  // controls right arrow, usage: li.has_subnav
  .has_subnav > a {
    &:hover {
      &:after {
        right: 1rem;
      }
    }
  }
  .has_subnav > .active {
    &:after {
      right: 1rem;
    }
  }

  // layout out of 'panel' display items for roostery and sprout patterns
  .sn-panel {
    padding-left: 2rem;
    padding-top: 2rem;
    .l-box {
      height: 300px;
      width: 360px;
      .product_image {
        max-width: 220px;
      }
    }
  }

  .footer_nav {
    position: relative;
    .nav-link-primary {
      padding: 1rem .5em;
      font-size: rem(15);
    }
  }

}
