// navigation, including some global header and footer elements that aren't strictly navigation

// Because the styles for navigation are so different from one another this file doesn't include inline media queries but is divided into sections: mobile , tablet , desktop


// mobile
.nav {
  li {
    display: inline-block;
    list-style-type: none;
  }
}
.nav-link {
  color: $nav-color;
  display: inline-block;
  padding: .8rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  // transition: 250ms all ease;
  width: 100%;
  &:hover,
  &.activateLink {
    background-color: $polar;
    color: $smalt_blue;
  }
}
// handles indentation of subnav items
// .nav-link.nl-lvl2 {
//   padding: .8rem 2rem;
// }
// .nav-link.nl-lvl3 {
//   padding: .8rem 3rem;
// }
// .nav-link.nl-lvl4 {
//   padding: .8rem 4rem;
// }
// .nav-link.nl-lvl5 {
//   padding: .8rem 5rem;
// }

// nav-links that open a submenu will get button styling. Width needs to be set to auto instead of 100%
.has_subnav > .nav-link {
  width: auto;
}

// navigation layout
.h_bar {
  border-bottom: 1px solid $gallery;
  display: flex;
  flex-direction: column;
  text-align: left;
  > nav {
    background-color: $white;
    // border-bottom: 1px solid $gallery;
    border-top: 1px solid $gallery;
    box-shadow: 0 8px 8px -8px $shadow;
    display: none;
    flex: 1;
    // height: 100vh;
    overflow: scroll;
    position: absolute;
    top: $h_bar-height;
    transform: 300ms all ease;
    width: 100vw;
    z-index: 1;
    > ul {
      list-style-type: none;
    }
  }
}

.h_bar-container {
  position: relative;
  .font_icon_btn {
    color: $smalt_blue;
    line-height: 1rem;
  }
  .user_btn {
    position: absolute;
    right: 8.9rem;
    top: 1rem;
  }
  .studio_btn {
    position: absolute;
    right: 5.4rem;
    top: 1rem ;
    width: 2.75rem;
  }
  .promos_btn {
    position: absolute;
    right: 2.4rem;
    top: 1rem ;
    width: 2.65rem;
  }
  .cart_btn {
    font-size: rem(12);
    position: absolute;
    right: 0;
    top: 1rem;
    width: 2.65rem;
  }
  .btn-login {
    position: absolute;
    right: 3.6rem;
    top: 1rem;
  }
}

.item_count {
  display: inline-block;
  font-size: rem(10);
  position: absolute;
  right: .5rem;
  // text-align: center;
  top: .1rem;
  width: 1rem;
}

.menu_toggle {
  left: 0;
  position: absolute;
  top: 0;
  @include media($tablet, $desktop) {
    display: none;
  }
  button {
    background-color: $polar;
    border: 0;
    display: block;
    height: 50px;
    // transition: 300ms all ease;
    width: 50px;
  }
}

// .h_bar nav > ul > li:last-of-type {
//   border-bottom: none;
// }

// button controls hiding showing of subnav items
.btn-mobile_nav {
  box-sizing: border-box;
  float: right;
  height: 43px;
  margin: 1px;
  &:focus {
    // background: rgba(0,0,0,0.05);
    // background-color: rgba(231,246,249,0.1);
    outline-style: inset;
    outline-width: 1px;
  }
  @include media($tablet, $desktop) {
    display: none;
  }
}

// social subnav
.nav-social {
  // height: rem(48);
  // max-height: rem(48);
  padding: .6rem 1rem .5rem 2rem;
  .btn-round {
    background-color: $dusty_gray;
    color: $white;
    margin-right: 5px;
  }
}


// Only Mobile
@media all and (max-width: 767px) {
  // controls down chevron, usage: li.has_subnav
  .has_subnav {
    display: block;
    position: relative;
    z-index: 1;
    &::after {
      content: '\e802';
      font-family: 'spoonflower_icons';
      font-size: .4rem;
      position: absolute;
      right: 1.2rem;
      top: .8rem;
    }
    // close icon
    &.is-active {
      position: relative;
      &::after {
        content: '\e808';
        font-family: 'spoonflower_icons';
        font-size: .6rem;
        position: absolute;
        right: 1.3rem;
        top: .8rem;
      }
    }
  }

  .subnav {
    // display: none;
    height: 0;
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    // http://easings.net/#easeInOutCubic
    @include transition(all 1s cubic-bezier(.645, .045, .355, 1));
  }
  .menu-visible {
    // background: rgba(0,0,0,0.05);
    // background-color: $semiopaque_gray;
    height: auto !important;
    max-height: 9999px !important; // hack to simulate js-based dropdown animation with only css
    opacity: 1 !important;
    overflow-y: visible !important;
    width: inherit;
    z-index: 2;
    > li {
      display: block;
      z-index: 3;
    }
  }
  // need to set height for the Sprout and Roostery subnav panels
  .desktop_hide {
    .sn-panel {
      .l-box {
        height: 217px;
        .product_image {
          max-width: 143px;
        }
      }
    }
  }

}

.sn-panel {
  &.menu-visible {
    li {
      div {
        background-color: $white;
      }
    }
  }
  .l-box {
    max-height: 260px;
    position: relative;
    width: 100%;
    div {
      box-sizing: border-box;
      padding: 0 1rem;
      text-align: center;
      width: 100%;
    }
    p {
      margin: 1rem auto;
      max-width: 14rem;
    }
    .roostery_logo {
      display: block;
      margin: 1rem auto;
      max-width: 180px;
    }
    .sprout_patterns_logo {
      display: block;
      margin: 1rem auto 1.3rem;
      max-width: 100px;
    }
    .product_image {
      max-width: 220px;
    }
  }
}

// end mobile

// begin tablet and up
// Medium screens
@include media($tablet) {

  // Utility Bar
  // is hidden from mobile devices (< 767px using .mobile_hide).
  .u_bar {
    background-color: $polar;
    height: $u_bar-height;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .u_bar-container {
    @include outer-container(1000px);
  }
  .u_sites {
    float: left;
    width: 300px;
    li {
      padding: 0;
      a {
        box-sizing: border-box;
        display: inline-block;
        height: $u_bar-height;
        padding: .55rem .8rem 0;
      }
    }
    .sprout_patterns_logo {
      // margin: .25rem 0 0 0;
      width: 50px;
    }
    .roostery_logo {
      // margin: .4rem 0 0 .8rem;
      width: 74px;
    }
    li {
      &:first-child {
        a {
          border-right: 1px solid $botticelli;
        }
      }
    }
  }
  // basic user nav
  .u_nav {
    display: none; // see _state.scss for .u_welcome and .is-loggedin
    float: right;
    > li {
      position: relative;
      > a {
        border-right: 1px solid $botticelli;
        box-sizing: border-box;
        display: inline-block;
        font-size: rem(13);
        height: $u_bar-height;
        padding: .65rem .8rem 0;
      }
    }
    > li:last-child > a {
      border-right: 0;
    }
    .subnav.subnav-dropdown {
      border: 1px solid $botticelli;
      right: 0;
      top: $u_bar-height - 4;
      li {
        display: block;
        position: relative;
      }
    }
    .item_count {
      right: .9rem;
      text-align: right;
      top: .4rem;
    }
  }

  .menu_to {
    display: none;
  }
  // Header Bar

  .h_bar {
    @include outer-container(1000px);
    background-color: $white;
    border-bottom: 0;
    line-height: 90px;
    text-align: left;
    width: 100%;
  }

  .h_bar-container {
    .btn-login,
    .cart_btn {
      display: none;
    }
  }

  .h_bar > nav {
    background-color: transparent;
    border-bottom: 1px solid $gallery;
    border-top: 1px solid $gallery;
    box-shadow: 0 4px 4px -4px $shadow;
    display: block;
    left: 0;
    overflow: initial;
    position: absolute;
    top: 111px;
  }

  .h_bar > nav > ul {
    position: relative;
    @include outer-container(1000px);
  }

  .h_bar nav > ul > li {
    border-bottom: 0;
    float: left;
    // width: 70px;
  }

  .nav-link {
    box-sizing: border-box;
    font-size: rem(13);
    padding: 1rem;
  }

  .nav-link.nav-link-primary {
    font-size: rem(15);
    text-transform: uppercase;
  }

  // the promo burst icon link in nav
  .has_subnav.promos-link {
    float: right;
    .btn {
      background-color: transparent;
      color: $smalt_blue;
      height: 51px;
      // margin-top: .5rem;
      min-width: 87px;
      padding-left: .7rem;
      padding-right: 1.2rem;
      position: relative;
      @include transition(background-color .5s linear);
      &:hover {
        color: $elephant;
      }
      &.active {
        background-color: $polar;
        @include transition(background-color .5s linear);
      }
    }
    // the submenu positioning
    .subnav-dropdown {
      margin-left: -6.8rem;
      &.visible {
        display: block;
      }
      a {
        color: $smalt_blue;
      }
    }
    .icon_close {
      position: absolute;
      right: .4rem;
      top: 1rem;
      &::before {
        color: inherit;
        font-size: .5rem;
      }
    }
    .icon_chevron_down {
      position: absolute;
      right: .8rem;
      top: 1.1rem;
      &::before {
        color: inherit;
      }
    }
    .promo_count {
      display: inline-block;
      width: 22px;
    }
    .promo_text {
      margin-right: .7rem;
    }
  }

  // begin megamenu
  .subnav {
    > li {
      &:first-child {
        padding-top: .55rem;
      }
      &:last-child {
        padding-bottom: .6rem;
      }
    }
    &.subnav-primary {
      @include outer-container(1200px);
      background: $white;
      border-bottom: 1px solid $gallery;
      border-left: 1px solid $gallery;
      border-right: 1px solid $gallery;
      box-shadow: 0 8px 8px -8px $shadow, 0 4px 4px 0 $shadow, 0 4px 4px 0 $shadow;
      display: none;
      height: $subnav-height;
      left: 0;
      // max-height: none;
      position: absolute;
      top: 52px;
      width: 100%;
      z-index: 1;
      > li {
        border-right: 1px solid $gallery;
        position: relative;
        width: 20%;
      }
    }
    &.current {
      display: block;
    }
    // controls right arrow, usage: li.has_subnav
    .has_subnav {
      > a {
        position: relative;
        &:hover {
          &::after {
            content: '\e80e';
            font-family: 'spoonflower_icons';
            font-size: .6rem;
            position: absolute;
            right: .5rem;
            top: .3rem;
          }
        }
      }
      > .active {
        position: relative;
        &::after {
          content: '\e80e';
          font-family: 'spoonflower_icons';
          font-size: .6rem;
          position: absolute;
          right: .5rem;
          top: .3rem;
        }
      }
      > .activateLink {
        &.active {
          &::after {
            left: 8.5rem;
            right: auto;
            top: .333rem;
          }
        }
      }
    }
  }

  .nav-link {
    &.nl-lvl2 {
      padding: .333rem 0 .5rem 1rem;
      width: 100%;
      &.activateLink {
        margin-left: .3rem;
        padding: .333rem .7rem;
        width: auto;
      }
    }
    &.nl-lvl3,
    &.nl-lvl4,
    &.nl-lvl5 {
      padding: .333rem 0 .5rem .5rem;
      width: 100%;
      &.activateLink {
        margin-left: .3rem;
        padding: .325rem .7rem .5rem;
        width: auto;
      }
    }
  }


  // subnav level 2 and 3
  .subnav.sn-lvl2,
  .subnav.sn-lvl3 {
    @include outer-container(100%);
    background: transparent;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    li {
      border-right: 0;
      position: relative;
    }
  }
  .subnav.sn-panel {
    @include outer-container(400%);
    background: $white;
    border-left: 1px solid $gallery;
    box-sizing: border-box;
    display: none;
    height: $subnav-height;
    left: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 400%;
    z-index: 1;
    li {
      border-right: 0;
      padding: 0;
      position: relative;
    }
  }
  .subnav.sn-last {
    @include outer-container(200%);
    @include column-count(3);
    background: $white;
    border-left: 1px solid $gallery;
    box-sizing: border-box;
    display: none;
    height: $subnav-height;
    left: 100%;
    overflow: hidden;
    padding-top: .5rem;
    position: absolute;
    top: 0;
    width: 300%;
    z-index: 1;
    li {
      display: inline-block;
      width: 100%;
    }
    > li:first-child {
      padding-top: 0;
    }
  }
  .subnav.sn-lvl2-last {
    @include outer-container(300%);
    @include column-count(3);
    background: $white;
    border-left: 1px solid $gallery;
    box-sizing: border-box;
    display: none;
    height: $subnav-height;
    left: 100%;
    overflow: hidden;
    padding-top: .5rem;
    position: absolute;
    top: 0;
    width: 300%;
    z-index: 4;
    li {
      display: inline-block;
      width: 100%;
    }
    > li:first-child {
      padding-top: 0;
    }
  }
  .subnav.sn-lvl2.current,
  .subnav.sn-lvl3.current,
  .subnav.sn-last.current,
  .subnav.sn-lvl2-last.current,
  .subnav.sn-panel.current {
    display: block;
    height: $subnav-height;
  }

  // end megamenu
  // begin dropdown menu
  .subnav.subnav-dropdown {
    background: $white;
    border-bottom: 1px solid $gallery;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    box-shadow: 0 8px 8px -8px $shadow, 0 4px 4px 0 $shadow, 0 4px 4px 0 $shadow;
    display: none;
    min-width: 280px;
    position: absolute;
    top: 52px;
    z-index: 1;
  }

  .subnav.subnav-dropdown.current {
    display: block;
  }
  // layout out of 'panel' display items for roostery and sprout patterns
  .sn-panel {
    padding-left: 1rem;
    padding-top: 3rem;
    .l-box {
      float: left;
      height: 238px;
      position: relative;
      width: 244px;
      p {
        margin: 0 auto;
        max-width: 100%;
      }
      .roostery_logo {
        max-width: 180px;
      }
      .product_image {
        max-width: 200px;
      }
    }
  }
  .nav-social {
    padding: .6rem 1rem .5rem;
  }

  // footer_nav
  .footer_nav {
    position: relative;
    .nav-link-primary {
      font-size: rem(13);
      padding: 1rem .3em;
      text-transform: none;
    }
  }
  .subnav-flyup {
    background: $white;
    border: 1px solid $gallery;
    box-shadow: 8px 0 8px -8px $shadow, 0 4px 4px 0 $shadow, 0 4px 4px 0 $shadow;
    display: none;
    margin-left: -.4375rem;
    min-width: 280px;
    position: absolute;
    top: -106px;
    z-index: 2;
    li {
      text-align: left;
      width: 100%;
    }
    .nav-link {
      padding: .333rem 1rem;
      text-align: left;
      width: 100%;
    }
  }
  .subnav.subnav-flyup.current {
    display: block;
  }
}

// Desktop styles

@include media($desktop) {

  .h_bar > nav {
    top: 118px;
  }

  .nav-link {
    font-size: rem(15);
  }

  .nav-link {
    &.nl-lvl2,
    &.nl-lvl3,
    &.nl-lvl4 {
      padding: .333rem 1rem;
      width: 100%;
    }
  }
  .nav-link {
    &.nl-lvl4 {
      margin-bottom: .1rem;
      margin-left: .3rem;
      margin-top: .1rem;
      // padding: .333rem 0 .333rem .8rem;
      padding: .333rem .7rem;
    }
  }
  .nav-link.nl-lvl5 {
    margin-bottom: .1rem;
    margin-left: .1rem;
    margin-top: .1rem;
    // padding: .333rem 0 .333rem .8rem;
    padding: .333rem .7rem;
  }
  .nav-link.activateLink.nl-lvl4,
  .nav-link.activateLink.nl-lvl5 {
    padding: .333rem .7rem;
  }

  // controls right arrow, usage: li.has_subnav
  .has_subnav > a {
    &:hover {
      &::after {
        right: 1rem;
      }
    }
  }
  .has_subnav > .active {
    &::after {
      right: 1rem;
    }
  }

  .subnav .has_subnav {
    > .activateLink.active {
      margin-left: .3rem;
      &::after {
        left: 11.3rem;
        right: auto;
        top: .333rem;
      }
    }
  }

  // layout out of 'panel' display items for roostery and sprout patterns
  .sn-panel {
    padding-left: 2rem;
    padding-top: 2rem;
    .l-box {
      height: 300px;
      width: 360px;
      .product_image {
        max-width: 220px;
      }
    }
  }

  .footer_nav {
    position: relative;
    .nav-link-primary {
      font-size: rem(15);
      padding: 1rem .5em;
    }
  }

}
