// hacks, temp fixes, etc.

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// wrap <span class="nowrap"> to keep words from breaking to two lines (i.e. hyphenated, 'orphans', etc.)
.nowrap {
  white-space: nowrap;
}

/* Firefox 37+ */
// keeps mobile navigation chevrons floated to the right without 'stepping'
@supports (-moz-appearance:none) and (display:contents) {
  .btn-mobile_nav {
    height: 42px;
  }
}
