// hacks, temp fixes, etc.

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// wrap <span class="nowrap"> to keep words from breaking to two lines (i.e. hyphenated, 'orphans', etc.)
.nowrap {
  white-space: nowrap;
}

// centering this button the old hacky way
.btn-back_to_top {
  width: 130px;
  left: 50%;
  margin-bottom: 1rem;
  margin-left: -70px;
  margin-top: 1rem;
  position: relative;
}

/* Firefox 37+ */
@supports (-moz-appearance:none) and (display:contents) {
  // keeps mobile navigation chevrons floated to the right without 'stepping'
  .btn-mobile_nav {
    height: 42px;
  }
  // since you cannot simulate a click on a select element we're going to remove the chevron-down icon from the search_module
  .btn-select {
    display: none;
  }
  // and we're going to restyle search_module elements to account for the removed btn-select
  .search_select-wrapper {
    width: 94px;
    padding: .075rem .5rem .775rem .5rem;
  }
  .search_input {
    height: 1.9rem;
  }
}

// demo placeholder content to hold the page open

.placeholder {
  @include outer-container(1000px);
  background-color: rgba(74,59,21,.14);
  box-sizing: border-box;
  // height: 1000px;
  width: 100%;
  text-align: center;
  padding: 25%
}
