// state rules

// hiding
.display_none {
  display: none;
}

// for testing demo
.mock_page_image {
  display: none;
  width: 100%;
}

// hide it on small (phones & tablets) screens

@media all and (max-width: 767px) {
  .mobile_hide {
    display: none !important;
  }
}

// hide it on large (desktop) screens
@media all and (min-width: 768px) {
  .desktop_hide {
    display: none !important;
  }
}

// login
.user_btn,
.studio_btn,
.h_bar-container .promos_btn,
.btn-login.logout {
  display: none;
}

.h_bar-container.is-loggedin {
  .spoonflower_logo {
    background: url('/images/logo-flower.svg');
    background-repeat: no-repeat;
    background-size: 43px 43px;
    margin: .2rem 0 .4rem 3.6rem;
    width: 43px;
    @include media(min-width 425px) {
      background: url('/images/logo.svg');
      background-repeat: no-repeat;
      background-size: 139px 40px;
      width: 139px;
    };
  }
  .user_btn,
  .studio_btn,
  .promos_btn {
    display: block;
  }
  .btn-login {
    display: none;
    &.logout {
      display: block;
      right: 10.3rem;
    }
  }
}

// begin tablet and up
// Medium screens
@include media($tablet) {

  // the logged out user nav
  .u_nav.u_welcome {
    display: block;
    &.is-loggedin {
      display: none;
    }
  }
  // the logged in user nav
  .u_nav.is-loggedin {
    display: block;
  }

}
