// variables

$font-stack: Lato, sans-serif;

/* color names, names derived from http://chir.ag/projects/name-that-color */
$dove_gray: #666666;   // basic font color
$gallery: #EFEFEF;    // borders
$polar: #E7F6F9;      // utility-bar background color
$smalt_blue: #4C8A8C; // menu icon, header font colors
$dusty_gray: #999999; // social icon round button background color
$punga: #4A3B15;      // used on dusty_gray background in search select
$mine_shaft: #232323; // used for .btn-shop background color;

$link-color: #5f9da4;
$link-hover: #1e5a61;

$nav-color: $dove_gray;
$nav-hover: #000;
