// variables

$font-stack: Lato, sans-serif;
$base-font-size: 16px;

// navigation constants [move to grid-settings?]
$subnav-height: 388px;
$u_bar-height: 40px;
$footer_height: 58px;

// color names, names derived from http://chir.ag/projects/name-that-color
// grays
$dove_gray: #666;   // basic font color
$gallery: #efefef;     // borders, footer background color
$dusty_gray: #989898;  // top nav link, social icon round button background color

// greens
$polar: #e7f6f9;       // utility-bar background color
$smalt_blue: #4c8a8c;  // menu icon, header font colors
$botticelli: #c6e1e5;  // utility menu (the topmost green bar in desktop) right border color
$breaker_bay: #5f9da4; // link color in global header (not nav)
$elephant: #154c4c; // hovered link in global header (not nav)

// browns
$punga: #4a3b15;       // used on dusty_gray background in search select

// blacks
$mine_shaft: #232323;  // used for .btn-shop background color;
$black: #000;       // hovered navigation

// whites
$white: #fff;

$link-color: $breaker_bay;
$link-hover: $elephant;

$nav-color: $dove_gray;
$nav-hover: $black;
